
.text-center {
    text-align: center;
}

.font-poppins {
    font-family: poppins;
}


.color-gray { color: #666 }
.color-red { color: red }

.button {
    display: inline-block;
    padding: .75em 1.5em;
    background: dodgerblue;
    color: #fff;
    border-radius: .5em;
    cursor: pointer;
    text-decoration: none;
}

.bg-white { background-color: #fff }
.bg {
    background-image: url(https://imgvb.com/images/2024/04/12/c6eb370197246320fce67feb4bb14e29.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}



/*===== NavBar =====*/ /*===== NavBar =====*/ /*===== NavBar =====*/ /*===== NavBar =====*/
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    /* background-color: dodgerblue;
    background-color: #ececec;
}

.logo {
    max-width: 10rem;
    text-align: center;
    color: #1c1c1c;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ececec;
    }
} */
/*===== NavBar =====*/ /*===== NavBar =====*/ /*===== NavBar =====*/ /*===== NavBar =====*/

/* NavBar 2*/ /* NavBar 2*/ /* NavBar 2*/ /* NavBar 2*/
.navbody {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px;
    margin: auto;
    display: block;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    margin-right: 20px;
}

li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a:hover {
    color: #ff9900;
}
/* NavBar 2*/ /* NavBar 2*/ /* NavBar 2*/ /* NavBar 2*/

/*===== Card =====*/ /*===== Card =====*/ /*===== Card =====*/ /*===== Card =====*/
.card {
    width: 300px;
    padding: 20px;
    border: 2px, solid #ccc;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card h2 {
    margin-top: auto;
    font-size: 20px;
}

.card p {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}
/*===== Card =====*/ /*===== Card =====*/ /*===== Card =====*/ /*===== Card =====*/

/* Tabla */ /* Tabla */ /* Tabla */ /* Tabla */
.tabla-personas {
    width: 100%;
    border-collapse: collapse;
}

.tabla-personas th, .tabla-personas td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabla-personas th {
    background-color: #f2f2f2;
}

.tabla-personas tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla-personas tr:hover {
    background-color: #ddd;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: #666;
}
th {
    background-color: #f2f2f2;
}
/* Tabla */ /* Tabla */ /* Tabla */ /* Tabla */