/* :root {
    background: url(./img/hiace2024.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
} */

.text-center {
    text-align: center;
}

.font-poppins {
    font-family: poppins;
}

.color-gray {
    color: #666;
}

.button {
    display: inline-block;
    padding: .75em 1.5em;
    background: dodgerblue;
    color: #fff;
    border-radius: .5em;
    cursor: pointer;
    text-decoration: none;
}

.card {
    width: 400px;
    padding: 20px;
    border: 2px, solid #ccc;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card h2 {
    margin-top: auto;
    font-size: 20px;
}

.card p {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}


/* Tabla */
.tabla-personas {
    width: 100%;
    border-collapse: collapse;
}

.tabla-personas th, .tabla-personas td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabla-personas th {
    background-color: #f2f2f2;
}

.tabla-personas tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla-personas tr:hover {
    background-color: #ddd;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: #666;
}
th {
    background-color: #f2f2f2;
}


/* NavBar */
nav {
    background-color: #333;
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    margin-right: 20px;
}

li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a:hover {
    color: #ff9900;
}
